
        <div id="title">
    		<h1>Settings</h1> 
 		</div>
        <ul class="left-menu">
        	<li class="active"><%= link_to 'Payment Gateway', store_authorize_nets_path %></li>
        	<li><a href="notification-email.html"> Notification Email</a></li>
            <li><a href="payment-receipt.html"> Receipt Email</a></li>
            <li><a href="payment-reminder.html"> Reminder Email</a></li>
            <li><a href="expiration-email.html">Credit Card Expiration Email</a></li>
            <li><a href="payment-retries.html">Payment Retries</a></li>
        </ul>
       