<div id="title">
    		<h1>Orders</h1> 
            <div id="add-new">
           	View:
           	  <label for="transaction-sort"></label>
           	  <select name="transaction-sort" id="transaction-sort" onchange="showByPeriod()">
           	    <option value="this-week">This Week</option>
           	    <option value="last-week">Last Week</option>
           	    <option value="this-month">This Month</option>
           	    <option value="last-month">Last Month</option>
           	    <option value="YTD">This Year to Date</option>
       	      </select> 
           	  or Sort From 
           	  <label for="date-1"></label>
           	  <input type="text" size="10" name="date-1" id="date-1" value="05/01/2011" onchange="showByDate()"/>
              to
              <input type="text" size="10" name="date-2" id="date-2" value="05/31/2011" onchange="showByDate()"/>
              Show only 
                <label for="show-only"></label>
                <select name="show-only" id="show-only">
                  <option value="status">Status</option>
                  <option value="plan">Plan</option>
                  <option value="owed">Owed</option>
                </select>
              of 
              <label for="show-only-value"></label>
              <select name="show-only-value" id="show-only-value">
                <option value="green">Green</option>
                <option value="yellow">Yellow</option>
                <option value="red">Red</option>
              </select>

            </div>
 		</div>
        
<div class="table_wrapper" id="table_wrapper"> 
  <%= render "table"%> 
</div> 
    	</div>
    	

<% content_for :javascript do %>
<script type="text/javascript">
	function showByPeriod(){
		var period=($("#transaction-sort option:selected").val());
		var params="?period="+period;
		loadOrders(params);
	}
	function showByDate(){
		var init_date=($("#date-1").val());
		var end_date=($("#date-2").val());
		var params="?init_date="+init_date+"&end_date="+end_date;
		loadOrders(params);
	}
	function loadOrders(params){
		var link="<%=store_payment_plans_path()%>"+params;
		$.ajax({
        type: 'GET',
        url: link,
        success: function(response) {
      // 	alert(response);
          $('#table_wrapper').html(response);
         
        },
        error: function(XMLHttpRequest, textStatus) {
          alert('Sorry unexpected Issue.');
         
        }
      });
	}
</script>	
<%end%>
