/*
 * FIXME: Introduce SCSS & Sprockets
*/


p.error {
	background:#E99;
	border:1px solid #B00;
	margin-left:13px;
	padding:10px;
	width:754px;
}
body {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font: 1em/1.4em "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #000;
  background: #ddd;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
}

h1 { 
  font-size: 180%;
  color: black;
  margin-bottom: 2px;
}

h2 { 
  font-size: 175%; 
  margin-bottom: 5px;
  border-bottom: 1px solid #eee;
  padding: 0 0 2px 0;
  color: #aaa;
  text-align: center;
  font-weight: normal;
}

h1 span.subtitle { 
  font-size: 50%; 
  color: #888;
}


h3 { 
  font-size: 110%;
	margin-bottom: 2px;
	margin-top: 5px;
  color: #741C1C;
  }
  
h3.divider {
  border-bottom: 1px solid #999;
}
  
img { border: 0; }


a {
  color: #000;
}

a:hover {
  color: #741C1C;
  text-decoration: underline;
}

#welcome {margin:0 0 10px 0; padding:1px 10px;}

#container {
  width: 776px;  
  margin: 20px auto 0px auto;
  text-align: left;
  font-size: 80%;
}

#container.slim {
  width: 430px;  
}

#main {
  width: 776px;  
  background-color: #fff;
  padding: 0 13px;
  background: url('../images/checkout/checkout-bg.gif') bottom left repeat-y;
}

#container.slim #main {
  width: 413px;
  padding: 0 15px;
  background: url('../images/checkout/checkout-bg-slim.gif') bottom left repeat-y;
}

#content {
  padding: 10px;
}

#header {
  width: 792px;
  padding: 8px 5px;
  background: url('../images/checkout/checkout-bg-top.gif') bottom left no-repeat;
}

#container.slim #header {
  width: 430px;  
  background: url('../images/checkout/checkout-bg-top-slim.gif') bottom left no-repeat;
}

#header h1 {
  padding-left: 10px;
}

#info-bar {
  background: #FFFBE5;
  border-bottom: 1px solid #ccc;
  color: #666;
  text-align: center;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 80%;    
  width: 100%;
}

#info-bar * { vertical-align: middle; }

#footer {
  width: 792px;
  padding: 8px 5px;
  margin: 0 auto;
  background: url('../images/checkout/checkout-bg-bottom.gif') top center no-repeat;
  text-align: center;
  color: #888;
  font-size: 80%;
}

#container.slim #footer {
  width: 430px;  
  background: url('../images/checkout/checkout-bg-bottom-slim.gif') top center no-repeat;
}

/*
 *=OVERVIEW
 */

#overview {
  background: #FFFBE5 url('../images/checkout/checkout-overview-bg.gif') top left repeat-x;
  border-bottom: 1px solid #EFEBA5;
  padding: 10px;
  margin: 0;
}

#overview h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: #333;
  text-align: left;
}

#overview a {
  color: #c60;
}

#products {
  float: left;
  width: 480px;
  border-right: 1px solid #FED600;
}

#done {
  float: left;
  width: 100%;
}

#wallet {
  margin-left: 481px;
  padding: 5px 10px 10px 10px;
  text-align: center;
  width: 250px;
}

div.wallet-highlight { background: #ffff99 }

#cost, #order-num {
  font: 400% Georgia, Times, "Times New Roman", serif;
  color: #6FB305;
  text-shadow: #fff 2px 2px;
  display: block;
}

#cost {
  margin-bottom: 10px;
}

#order-num {
  font-size: 120%;
}

#success {
  color: #090;
  background: #cfc;
  padding: 5px;
  margin: 20px 0;
  text-align: center;
  border: 1px solid #090;
  font-weight: bold;
}

#steps {
  margin-top: 10px;
  font: 200% Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

#thumbs {
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
}

#thumbs div {
  width: 50px;
  height: 50px;
  padding: 1px;
  margin: 0 4px 0 0;  
  border: 1px solid #FFEB80;
  float: left;
  text-align: center;
}

#thumbs td {
  font-size: 80%;
  padding-bottom: 8px;
  line-height: 140%;
  vertical-align: middle;
  width: 50%;
}

/* overwrite for Thank You page */
.slim #thumbs td {
  width: 25%;
}

#thumbs img {
  background: transparent;
}

#thumbs h3 {
  margin: 0;
  padding: 0;
  font-size: 11px;
}

#thumbs h3 span {
  color: #c96;
  font-size: 90%;
}

#thumbs span {
  color: #c93;
  font-size: 10px;
}

#overview .hint {
  color: #c96;
  font-style: italic;
  font-size: 80%;
}

/*
 *=SELECT CHECKOUT PREF
 */

#payment-type {
  margin: 0;
  padding-top: 10px;
  list-style: none;
  text-align: center;
}

#payment-type li {
  margin: 10px;
  padding: 10px;
  border: 1px solid #fff;
}

#payment-type li:hover {
  border: 1px solid #ccc;

}

li.text-payment {
  margin: 10px !important;
  padding: 0px !important;
}

.center {
  width: 660px;
  margin: 0 auto;
}


/*
 *=EMAIL
 */

#addresses {
  background: #f7f7f7;
  height: auto;
}

#email {
  line-height: 100%;
  background: #f7f7f7;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

#email label {
  display: block;
  margin-bottom: 15px;
  font-size: 130%;
}

#email input {
  font-size: 150%;
}

#shipping-same {
}

#shipping-same label {
  display: block;
  font-size: 100%;
}

.address-notification {
  background: #ffefeb;
  border: 1px solid #f96;
  color: #000;
  text-align: center;
  padding: 5px;
}


/* PAYPAL EXPRESS */

#gateway-logos {
  text-align: center;
  padding: 8px 5px 3px 5px;
  margin: 10px auto 20px auto;
}

#gateway-logos img {
	padding: 5px 10px;
}

/*
 *=PAYMENT/CREDITCARDS
 */

#pay-with {
  text-align: center;
}

#pay-with h3 {
  font-size: 200%;
  color: #000;
  margin: 40px 0 20px 0;
}
 
#payment {
  position: relative;
}

#or {
  font: bold 200% "Lucida Grande", Helvetica, Arial, sans-serif;
  position: absolute;
  left: 46%;
  top: 50%;
  background: #ffefeb;
  color: #000;
  padding: 10px;
  background: #ccc;
  text-align: center;
}

#payment-methods {
  list-style: none;
  margin: 0;
  padding: 0;
}

#payment-methods li { 
  padding: 6px;
  margin-bottom: 1px;
}

#payment-methods li * { 
	vertical-align: middle;
}

#payment-methods input {
  margin-right: 5px;
}

#credit-card-valid {
	vertical-align: bottom;
}

img.credit-card {
	margin-left: 3px;
}

.inactive {
	-moz-opacity: 0.25;
	opacity:.25;
	filter: alpha(opacity=25);	
}

/*
 *=ERRORS
 */

.field-with-errors {
  background-color: #FFFBE5;
  border: 1px solid #FED600;
  padding: 3px 5px;
  line-height: 140%;  
}

.field-with-errors input {
  border: 1px solid #B30905;
}

.field-with-errors .error-message {
  color: #B30905;
  font-weight: bold; 
}

.severe-error { 
  margin: 35px 5px;
}

/*
 *=GROUPED BOXES
 */

.gleft {
  float: left;
  width: 49%;
}

.gright {
  margin-left: 49%;
  padding-left: 10px;
  width: 47%;
}


/*
 *=MISC
 */

form {
 padding: 0;
 margin: 0;
}

label {
 font-weight: bold;
 font-size: 100%;
}

input[type=text], input[type=password], textarea {
 border: 1px solid #ccc;
 border-bottom: 1px solid #e7e7e7;
 border-right: 1px solid #e7e7e7;
 padding: 2px; 
}

textarea {
 font-family: Monaco, "Courier New", Courier, monospace;
 font-size: 1.0em;
 overflow: auto;
 width: 100%;
}

input[type="image"] {
 border: none;
}

#buttons {
border-top: 2px solid #eee;
border-bottom: 2px solid #ccc;
	padding: 10px 10px;
	background: #ddd;
	margin: 0;
}

#buttons input {
 font-weight: bold;   
 padding: 2px 5px;
}


dl, dt, dd {
 border: 0;
 margin: 0;
 padding: 0;
}

dl {
 margin: 5px 0 10px 0;
}

dd {
 margin: 5px 0;
}

dt {
 margin-top: 12px;
 font-weight: bold;
}

dl .hint {
 font-size: 95%;
 color: #888;
 font-weight: normal;
}

dt.top {
 margin-top: 0;
}

.group {
 background: #f7f7f7;
 border: 1px solid #ddd;
 padding: 10px;
 margin: 20px 5px;
}

.pgroup {
 margin-bottom: 20px;
 padding: 5px;
}

.pgroup h3 {
}

.pgroup dl {
 background: #f1f1f1;
 padding: 5px;
}

input.btn {
margin: 0 0 0 8px;
}

textarea.short {
 height: 400px;

}

input.digit-2 {
 width: 25px;
}

textarea.tall {
 height: 700px;

}

.ta-success {
 padding: 5px;
	background: #fff;
	border: 1px solid #eee;
}

.big {
 font-size: 150%;
}

input.long {
 width: 350px;
}

input.short {
 width: 70px;
}

.small {
 font-size: 85%;
}

label.inline {
 font-weight: normal;
 font-size: 100%;
}

.pageform h4 {
 margin-top: 30px;
}

.soft {
 font-weight: normal;
 margin: 10px 0;
}

.soft label { font-weight: normal; font-size: 85%;}
.medium label { font-size: 85%; color: #444;}
.medium p { margin-left: 17px;}

ul.radios li {
 padding: 5px;
 margin: 5px;
}

ul.edit-options {
  list-style: none;
  padding: 10px 10px;
}

ul.cart-items {
  list-style: square;
  padding: 3px 20px;
}

ul.cart-items > li {
  padding: 8px 0;
}


ul.edit-options li label {
  font-weight: normal;
}

fieldset {
 border: 1px solid #ccc;
 padding: 5px;
 padding-left: 10px;
 padding-top: 0;
 margin: 15px 5px;
}

fieldset#switchsolo {
 border: 1px solid #ccc;
 padding: 15px 10px;
 margin: 15px 0px;
 line-height: 1.6em;
}

legend {
 font-size: 90%;
 font-weight: bold;
 padding: 0 5px;
 margin-left: 10px;
}

fieldset p {
 margin: 5px;
}

span.hint a {
  color: #888;
  font-size: 95%;
}

/* Variant form sizing */
td.label { width: 150px; vertical-align: middle; }
td.lprice, td.sprice {width: 70px;}
td.weight { width: 40px; } 
th.trash { width: 20px;}
th.sku {width: 30px;}

/* Bottom tab for more-less textareas */
a.bottab {
 background: #fff;
 border: 1px solid #eee;
 border-top: 0;
 padding: 4px 10px 4px 25px;
}

a.more { background: #fff url(../images/admin/icons/textarea-more.gif) 2% 50% no-repeat;}
a.less { background: #fff url(../images/admin/icons/textarea-less.gif) 2% 50% no-repeat;}



.clearfix:after {
   content: "."; 
   display: block; 
   height: 0; 
   clear: both; 
   visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

form { line-height: normal; padding: 0; margin: 0;}
input { padding: 0; margin: 0;}

.group {
  margin: 20px 0;
}

.group h3, .pgroup h3 {
  color: #000;
  font-size: 130%;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;  
}

.form {
}

.form td {
  padding: 5px;
}

.form ul.inline {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.form ul.inline li {
  display: block;
  float: left;
  margin-right: 15px;
}

.form ul.inline li label {
  display: block;
}

.form tr td {
}

.form td.lbl {
  width: 80px;
}

.form td input {
  width: 230px;
}

.form td input.short {
  width: 160px;
}

.form td textarea {
  width: 230px;
}

table td {
  vertical-align: top;
}

.highlight {
  background: #FFFFDD;
}

/* customer accounts */
#customer_login.required {padding:20px;}
.sign-in {float:left; margin-right:15px;}
.forgot-password {float:left;}
#reset-email {margin-bottom:10px; font-size:14px;}
.multiple_address_selection td {padding:10px 5px 20px 5px;}
table.form.full {margin-bottom:10px;}
.form.full td.lbl {width:110px;}
.form.full td input {width:200px;}

.sign-in-area {margin:15px 0;}
.sign-in-area input[type=submit] {float:right;}

.group.st {margin-top:0px;}
h4.active-customer {font-size:18px; font-weight:400; color:#444; margin:10px 0;}
span.sign-in-message {font-size:13px; margin-left:4px;}

.flash {color:#000; padding:5px 10px; margin:0 0 15px 0;}
.flash.notice {background:#FFFBE5; border:1px solid #DFDBC5;}
.flash.error {background: #ffefeb; border: 1px solid #f96;}
/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{}
    #cboxTopLeft{width:14px; height:14px; background:url(/assets/colorbox/controls.png) no-repeat 0 0;}
    #cboxTopCenter{height:14px; background:url(/assets/colorbox/border.png) repeat-x top left;}
    #cboxTopRight{width:14px; height:14px; background:url(/assets/colorbox/controls.png) no-repeat -36px 0;}
    #cboxBottomLeft{width:14px; height:43px; background:url(/assets/colorbox/controls.png) no-repeat 0 -32px;}
    #cboxBottomCenter{height:43px; background:url(/assets/colorbox/border.png) repeat-x bottom left;}
    #cboxBottomRight{width:14px; height:43px; background:url(/assets/colorbox/controls.png) no-repeat -36px -32px;}
    #cboxMiddleLeft{width:14px; background:url(/assets/colorbox/controls.png) repeat-y -175px 0;}
    #cboxMiddleRight{width:14px; background:url(/assets/colorbox/controls.png) repeat-y -211px 0;}
    #cboxContent{background:#fff; overflow:visible;}
        #cboxLoadedContent{margin-bottom:5px;}
        #cboxLoadingOverlay{background:url(/assets/colorbox/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(/assets/colorbox/loading.gif) no-repeat center center;}
        #cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
        #cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}
        
        #cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{position:absolute; bottom:-29px; background:url(/assets/colorbox/controls.png) no-repeat 0px 0px; width:23px; height:23px; text-indent:-9999px;}
        #cboxPrevious{left:0px; background-position: -51px -25px;}
        #cboxPrevious.hover{background-position:-51px 0px;}
        #cboxNext{left:27px; background-position:-75px -25px;}
        #cboxNext.hover{background-position:-75px 0px;}
        #cboxClose{right:0; background-position:-100px -25px;}
        #cboxClose.hover{background-position:-100px 0px;}
        
        .cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
        .cboxSlideshow_on #cboxSlideshow.hover{background-position:-150px 0px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
        .cboxSlideshow_off #cboxSlideshow.hover{background-position:-125px 0px;}
form { padding: 0; margin: 0; }
label { font-weight: bold; font-size: 100%; }
textarea { font-family: monospace; font-size: 9pt; width: 100%; overflow: auto; margin: 0; }
input[type="image"] { border: none; }
input[type="text"] { padding-right: 2px; margin-right: 2px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: baseline; }

.btns { padding: 5px;	background: #F1F1F1; border-top: 1px solid #ccc; display: block; margin: 10px 0; }
.btns input { vertical-align: middle; }
.btns2 { padding: 2px 10px; background: #eee; margin: 10px 0px 0px 0px; border-top: 1px solid #ccc; font-size: 90%; }
.btns2 a { color: #000; }
.btn-divider { border-top: 1px solid #ddd; padding-top: 10px; }

dl, dt, dd { border: 0; margin: 0; padding: 0; font-size: 12px; }
dl { margin: 5px 0; }
dd { margin: 5px 0; }
dt { margin-top: 12px; font-weight: bold; }
dl .hint { font-size: 95%; color: #888; font-weight: normal; }
dt.top { margin-top: 0; }

.group { background: #f7f7f7; border: 1px solid #ddd; padding: 10px; margin: 20px 5px; }
.group h3 { margin: 0; }
.pgroup { margin-bottom: 20px; padding: 5px; }
.pgroup dl { background: #f5f5f5; padding: 5px; }

input.btn { font-weight: bold; cursor: pointer; border: 1px solid #bbb; border-top: 1px solid #ccc; border-bottom: 1px solid #aaa; background: #ddd url('../images/admin/btns/bg.gif?1') top left repeat-x; padding: 4px 6px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; text-shadow: 0px 1px 1px #fff; color: #3a3a3a; }
input.btn:hover { -webkit-box-shadow: 0px 0px 3px #3084CA; -moz-box-shadow: 0px 0px 3px #3084CA; }
input.btn:active, input.btn:focus { outline: none; -moz-outline-style: none; background: #eee; border-top: 1px solid #aaa; border-bottom: 1px solid #ccc; color: #555;}

a.btn { font-size: 11px; font-weight: bold; cursor: pointer; border: 1px solid #bbb; border-top: 1px solid #ccc; border-bottom: 1px solid #aaa; background: #ddd url('../images/admin/btns/bg.gif?1') top left repeat-x; padding: 6px 8px; text-shadow: 0px 1px 1px #fff; color: #3a3a3a; text-decoration: none; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
a.btn-group { -moz-border-radius: 0px; -webkit-border-radius: 0px; border-right: 1px solid #eee; }
a.btn-left { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-right: 1px solid #fff; }
a.btn:hover { color:#3a3a3a; -webkit-box-shadow: 0px 0px 3px #3084CA; -moz-box-shadow: 0px 0px 3px #3084CA; }
a.btn-right { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-right: 1px solid #bbb; }
a.active { outline: none; -moz-outline-style: none; background: #ddd; border-top: 1px solid #aaa; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; color: #000;}
a.btn:active {outline:none;}

input.red-btn, a.red-btn { color: #fff; background: #a6451f url('../images/admin/btns/bg-red.gif') top left repeat-x; text-shadow: none; border-color: #863819; }
input.red-btn:hover, a.red-btn:hover { color: #ffea60; -webkit-box-shadow: 0px 0px 3px #ca6a30; -moz-box-shadow: 0px 0px 3px #ca6a30; }
input.green-btn, a.green-btn { color: #1e2904; background: #83b211 url('../images/admin/btns/bg-green.gif') top left repeat-x; border-color: #6e960f; }
input.green-btn:hover, a.green-btn:hover { color: #fff; text-shadow: none; -webkit-box-shadow: 0px 0px 3px #95ca30; -moz-box-shadow: 0px 0px 3px #95ca30; }

textarea.tiny { height: 75px; }
textarea.very-short { height: 200px; }
textarea.short { height: 400px; }
input.digit-2 { width: 25px; }
textarea.tall { height: 700px; }

.big { font-size: 150%; }
.small { font-size: 85%; }

input.long { width: 350px; }
input.medium { width: 200px;}
input.short { width: 70px; }
label.inline { font-weight: normal; font-size: 100%; }

.pageform h4 { margin-top: 20px; }
.soft { font-weight: normal; margin: 10px 0; }
.soft label { font-weight: normal; font-size: 85%;}
.medium label { font-size: 85%; color: #444;}
.medium p { margin-left: 17px;}

ul.radios li { padding: 5px; margin: 5px; }

fieldset { border: 1px solid #ccc; padding: 5px; padding-left: 10px; padding-top: 0; margin: 15px 5px; }
legend { font-size: 90%; font-weight: bold; padding: 0 5px; margin-left: 10px; }
fieldset p { margin: 5px; }
caption { text-align: left; font-weight: bold; }

/* Variant form sizing */
td.label { width: 150px; vertical-align: middle; }
td.lprice, td.sprice {width: 70px;}
td.weight { width: 40px; } 
th.trash { width: 20px;}
th.sku {width: 30px;}

/* Bottom tab for more-less textareas */
a.bottab { background: #fff; border: 1px solid #eee; border-top: 0; padding: 4px 10px 4px 25px; }

/* closure dialog */
.shopify-dialog-bg {position: fixed; background-color: #666; opacity:0.3; top: 0; left: 0; z-index:5000;}
.shopify-dialog {position: absolute; background-color: #fff; border:1px solid #AAAAAA; width:auto !important; padding:1px; outline:none; z-index:9999; box-shadow:0 0 15px rgba(0,0,0,0.1); -moz-box-shadow:0 0 15px rgba(0,0,0,0.1); -webkit-box-shadow:0 0 15px rgba(0,0,0,0.1);}
.shopify-dialog-title {position: relative; background:url("../images/editor/toolbar-bg.png") repeat-x scroll left bottom #FAFAFA; border-bottom:1px solid #bbb; color:#333; cursor:move; font-size:16px; font-weight:700; padding:10px 15px; vertical-align:middle;}
.shopify-dialog-title.no-title {background:none; padding:0; border:none;}

.shopify-dialog-content {padding:15px; overflow:auto; max-height:500px;}
.shopify-dialog-title-close {display:block; float:left; text-indent:-9999px; background:url(../images/admin/icons/close.png) no-repeat 0px 0px; height:24px; width:24px; position:absolute; margin-left:-32px; left:100%; top:8px; cursor:pointer;}
.shopify-dialog-title-close:hover {background:url(../images/admin/icons/close.png) no-repeat 0px -23px;}
.shopify-dialog-title-close:active {background:url(../images/admin/icons/close.png) no-repeat 0px -46px;}
.closure-lightbox-placeholder {text-align:center; height:50px; width:50px; padding:30px 130px; background:url(../images/spinner_big.gif) no-repeat center center;}
.shopify-dialog-content .dialog-actions {padding:5px 0 0 0;}

div.not-found {padding:40px;}
.not-found p {font-size:18px;}
.not-found span.not-found {color:#aaa; vertical-align:super; font-size:14px;}
/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/
/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/
/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/
/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/
/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/
/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/
/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/
