<h1>Listing Clients</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.email %></td>
    <td><%= link_to 'Show', merchant_client_path(client) %></td>
  </tr>
<% end %>
</table>
