		<div id="title">
            <h1>My Account</h1> 
 		</div>
          <%= form_for @user,:html => {:class => "new-plan"} do |f| %>
    <%= render 'form_account', {:f => f, :user => @user} %>
  <% end %>
  </div>
