<h1>Resources</h1>
<ul>
  <li>
    <%= link_to "Plans", merchant_plans_path %>
  </li>
  <li>
    <%= link_to "Payment Plans", merchant_payment_plans_path %>
  </li>
  <li>
    <%= link_to "Clients", merchant_clients_path %>
  </li>
</ul>