<div class="right-main">
<h2>Authorize.Net settings</h2> 
 
  <hr> 
  <h2>Add New configuration</h2> 

<%= render 'form' %>

<div class="breadcrumb">
  <%= link_to 'Return to Authorize.Net Settings', store_authorize_nets_path,:class=>"return" %>
</div>
</div>
</div>

