<div>
  <dl>
    <dt>Email</dt><dd><%= @customer.email %></dd><br/>
    <dt>CIM ID</dt><dd><%= @customer.customer_cim_id %></dd>
  </dl>
</div>

<div class="breadcrumb">
  <%= link_to "Customers", store_customers_path %>
</div>