<div class="mid-img"><img src="/assets/content-top.png" /></div>
<div id="content">
  <h2>“Give every customer a chance to buy”</h2>
  <div id="content-mid"></div>
  <div class="centered"><a href="#"><img src="/assets/info-bot.png" /></a></div>
</div>
<div class="mid-img"><img src="/assets/content-bot.png" /></div>