
        <div id="title">
			<h1>First Step: Instructions to</h1> 
        </div>
        <div>
        	this is the instructions
        	</div>
        </div>
        
            <ul class="buttons"><li class="add"> <%=link_to "Complete", "complete_ecommerce_instructions",:class=>"add"%></li></ul> 
 		
       
   
