<h1>Resources</h1>
<ul>
  <li>
    <%= link_to "Plans", store_plans_path %>
  </li>
  <li>
    <%= link_to "Payment Plans", store_payment_plans_path %>
  </li>
  <li>
    <%= link_to "Customers", store_customers_path %>
  </li>
  <li>
    <%= link_to "Settings", store_settings_path %>
  </li>
</ul>