@charset "UTF-8";
/* CSS Document */

body {
	background: #fff; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e5e5', endColorstr='#fff'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#e1e5e5), to(#fff)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #e1e5e5,  #fff); /* for firefox 3.6+ */
	background-repeat: no-repeat;
	height: 600px;
	margin: 0;
}

#wrapper {
	position: relative;
	width: 793px;
	margin: 0 auto;
	height: 100%;
}

#top {
	position: absolute;
	background: url(/assets/top-bar.png) no-repeat;
	height: 200px;
	width: 793px;
}

#logo {
	position: inherit;
	float: left;
	margin-left: 30px;
	display: block;
	width: 243px;
	height: 131px;
	overflow: hidden;
	background: url(/assets/logo-bot.png) no-repeat top left;
}

#logo a {
	background-position: 50% 0%;
	background-repeat: no-repeat;
	display: block;
	height: 100%;
	left: 1px;
	overflow: hidden;
	position: absolute;
	text-indent: -1000em;
	top: 0px;
	width: 100%;
}

#info-top {
	float: right;
	margin-top: 80px;
	display: block;
	width: 251px;
	height: 41px;
	overflow: hidden;
	background: url(/assets/info-top.png) no-repeat top left;
}

#top-menu {
	position: absolute;
	right: 5px;
	top: 44px;
}

#top-menu a{
	font-family: "liberation-sans", Arial, sans-serif;
	font-size: 12px;
}

#top-menu a:link {text-decoration: none; color:#FFF; padding-right: 15px;}
#top-menu a:visited {text-decoration: none; color:#FFF;}
#top-menu a:active {text-decoration: none; color:#FFF;}
#top-menu a:hover {text-decoration: underline; color:#FFF;}

#mid {
	position: relative;
	top: 140px;
	margin-left: 5px;
}

.mid-img {position: relative;}

#content {
	background: url(/assets/content-mid.png) repeat-y;
	padding: 0 13px;
	height: 100%;
}

#content-mid {
	background: url(/assets/mid.png) no-repeat;
	width: 762px;
	height: 222px;
	margin: 15px 0;
}

#content h2{ margin: 0 10px; text-align: center;}

.centered {
	width: 100%;
	margin: auto;
	text-align: center;
}

#bot {
	position: absolute;
	bottom: -10px;
	font-family: "liberation-sans", Arial, sans-serif;
	font-weight: normal;
	color: #666;
	margin: auto;
	padding-top: 10px;
	width: 793px;
	font-size: 12px;
	text-shadow: #CCC 0px 1px 0px;
}

#links {
	display: block;
	float: left;
	width: auto;
	padding-left: 20px;
	padding-top: 20px;
}

#tmark {
	display: block;
	float: right;
	width: auto;
}

#bot a:link {text-decoration: none; color: #55668e; margin-right: 15px;}
#bot a:visited {text-decoration: none; color: #55668e; margin-right: 15px;}
#bot a:active {text-decoration: none; margin-right: 15px;}
#bot a:hover {text-decoration: none; color: #333; margin-right: 15px;}

