@charset "UTF-8";
/* CSS Document */

* {margin:0;padding:0;}

*:focus {outline: 0;}

html, body {height: 100%;}

body {
	background: #fff; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e5e5', endColorstr='#fff'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#e1e5e5), to(#fff)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #e1e5e5,  #fff); /* for firefox 3.6+ */
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}

#wrap {min-height: 100%;}

#header {
	background-color: #29437f;
	height: 70px;
}

#header ul {
	list-style-type: none;
	display: block;
}

#header li {
	color: white;
	float: left;
	margin-left: 14px;
	padding-top: 28px;
}

#header li a {color: white;}

#content {
	padding: 10px 0;
	overflow:auto;
	padding-bottom: 150px;
}

p {
	text-align: left;
	line-height: 17px;
	margin: 0 0 1em 0;
}

.note {padding-bottom: 12px;}

#footer {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #29437f;
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
}

.container {
	width: 950px;
	margin: 0 auto;
	padding-bottom:10px;
	
}

.clearfix, .container {display: block;}

.left{float:left;}
.right{float:right;}
.bottom {bottom: 10px; position:absolute; margin: 0 auto; text-align:center;}

#logo {float:left;}
#top-menu {float:right;}

a:link {text-decoration:none}
a:hover {text-decoration:underline;}
a:active {text-decoration: underline;}
a:visited {text-decoration:none;}

#nav {
	position: relative;
	font-size: 12px;
	list-style: none;
	padding: 0;
	display:block;
	height: 22px;
}

#nav li {
	margin: 0 7px 0 0;
	font-size: 0.9em;
	padding: 0;
	float: left;
}

#nav li a {
  background-color: #333;
  display: block;
  padding: 5px 14px;
  color: #cccccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#nav li.hover a {
  text-decoration: none;
  background-color: #5f5f5f;
}
#nav li a:hover {
  text-decoration: none;
  background-color: #5f5f5f;
}
#nav li.hover a {
  border-radius-bottomleft: 0px;
  border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}

#main {
	position: relative;	
	margin-bottom: 20px;
}

#title {
	position:relative;
	height:40px;
	margin: 10px;
}

.start-hide {float: right; padding-right:5px; color:#666;}

.start-button{font-size:12px;}

a.start-button {
  background-color: #333;
  display: block;
  padding: 5px 14px;
  color: #cccccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

a.start-button:hover {
  text-decoration: none;
  background-color: #5f5f5f;
  border-radius-bottomleft: 0px;
  border-radius-bottomright: 0px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#start-stats {
	float:right;
	width:520px;
}

.stats-box {
	float: left;
	text-align: right;
	background-color: #003;
	margin: 10px 0 14px 11px;
	border-bottom: 1px solid #CCC;
	padding: 6px 11px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 100px;	
}

p.stats-box-label {
	color: #7E7E7E;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0;
	font-size: 10px;
}

p.stats-box-value {
	color: white;
	margin: 0 0 0 0;
	font-size: 1.3em;
	text-shadow: white 0 0 5px;
	font-weight: bold;
}

#only-values{
	float:right;
}


#add-new{
	float:right;
}

#add-new-modified{
	float:right;
	width: 830px;
}
#add-new-rest{
	float:left;
	width: 650px;
}
#section-owed{
	float:right;
}

h1 {
	float: left;
	padding-top:7px;
	display:block;
}

h2 {padding-bottom: 10px;}

#links {
	display: block;
	float: left;
	width: auto;
	padding-left: 20px;
	padding-top: 20px;
}

#tmark {
	display: block;
	float: right;
	width: auto;
}

#footer a:link {text-decoration: none; color: #CCC; margin-right: 15px;}
#footer a:visited {text-decoration: none; color: #ccc; margin-right: 15px;}
#footer a:active {text-decoration: none; margin-right: 15px;}
#footer a:hover {text-decoration: none; color: #FFF; margin-right: 15px;}

.table_wrapper{
	border:1px solid #aaa;
	border-radius:3px;
	margin-bottom:30px;
	padding:1px;
}

table{
	font-size:12px;
	width:100%;
	background: white;
}

table tr.odd{
	background:#d1d5d5;
}

table tr th{
	background:#7491D6;
	padding:8px 5px;
	color:white;
}

table tr td{
	padding:8px 1px;
	text-align:center;
}

table.customer {
	width: 100%;
	margin: 12px 0 18px;
	border-top: 4px solid #DADADA;
	border-bottom: 3px solid #DADADA;
	border-collapse: separate;
}

table.customer th {
	font-weight: bold;
	color: #777;
	text-align: right;
	width: 200px;
	border-right: 1px dotted #DADADA;
	border-bottom: 1px solid #DADADA;
	padding: 7px 10px;
	background-color: transparent;
	vertical-align: top;
	font-size: 1.2em;
}

table.customer td {
	border: none;
	border-bottom: 1px solid #DADADA;
	padding: 7px 10px;
	background-color: transparent;
	vertical-align: top;
	font-size: 1.2em;
	text-align:left;
}

.traffic {padding:0; width:90px;}

.submit-button {
	background-color: #7491d6;
	color: black;
	font-weight: bold;
	cursor: pointer;
	border-style: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #7491d6;
	width: auto;

}

.submit-button:link {
	font-size: 14px;
	padding: 12px 15px;
	margin: 5px 0 0 10px;
}

.submit-button:hover {
	background-color: #999;
	border-color: #999;
	color:#FFF;
	text-decoration:none;
}

a.return {
	display: block;
	float: left;
	width: 238px;
	font-size: 1em;
	padding-top: 0px;
	font-weight: bold;
	color: #29437f;
}

a.return:hover {color: #333;}

form{
	border-top: 1px solid #666;
	padding:0;
	margin:0;
	font-size:14px;
	line-height: 20px;
}

fieldset{
	border:none;
	padding:2px 0;
	margin:0;
}

input, textarea, select {
	padding: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #7491D6;
	font-size: 1.1em;
	width:auto;
	margin:5px 0 0 10px;
}

.new-plan input, textarea {
	padding: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #7491D6;
	font-size: 1.1em;
	width:auto;
	margin:5px 0 0 10px;
}

.new-plan select {
	padding: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #7491D6;
	font-size: 1.1em;
	width:auto;
	margin:7px 0 0 10px;
}

.new-plan label { 
	display: block;  /* block float the labels to left column, set a width */
	float: left; 
	width: 250px; 
	padding: 0; 
	margin: 10px 0 0; /* set top margin same as form input - textarea etc. elements */
	text-align: right; 
}

form .actions {margin: 10px 250px;}

input.submit-button:hover {background-color: #999;}

input[type="radio"], input[type="checkbox"] {
  border: none;
  padding: 0;
  margin-top: 15px;
}

input:focus { border-color: #29437f; }
textarea:focus { border-color: #29437f; }
select:focus { border-color: #29437f; }
input[disabled], textarea[disabled], select[disabled] { background: #ebebeb; }
select { font-size: 1em; }
textarea { height: auto; }

.form-help{
	position: absolute;
	top: 60px;	
	right: 0;
	width: 300px;
	border: 1px dotted;
	background: white;
	padding: 10px;
	color: #666;
}

.buttons{
	list-style: none;
	padding: 0;
	display: block;
}

ul.buttons li {
	float: left;
	padding:10px;
	border: 1px solid #29437f;
	color: black;
	margin-right: 12px;
	background: #29437f;
	background: -moz-linear-gradient(top, #7491d6 0%, #29437f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #29437f), color-stop(100%, #29437f));
	background: -webkit-linear-gradient(top, #7491d6 0%, #29437f 100%);
	background: -o-linear-gradient(top, #7491d6 0%, #29437f 100%);
	background: -ms-linear-gradient(top, #7491d6 0%, #29437f 100%);
	background: linear-gradient(top, #7491d6 0%, #29437f 100%);
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

ul.buttons li:hover {
	background: #333;
	color: #006;
}

ul.buttons li.add a {
	text-decoration:none;
}

ul.buttons li a.add {
	/* background-image: url("/images/icons/activity_bar/add.png");
	background-position: 5px 5px;
	padding-left: 25px; */
	font-weight: bold;
	color: #fff;
}

.right-main {
	float:right;
	width:706px;
	padding: 0 10px;
}

.left-menu {
	float:left;
	list-style:none;
	line-height: 30px;
	width: 223px;
	border-right: 1px #999 solid;
	border-bottom: 1px #999 solid;
	background: url(/assets/left-nav_bg.png) repeat-y;
}

.left-menu li {
	border-top: 1px #999 solid;
	text-align:right;
	padding-right: 10px;
}

.left-menu li a{ color: #4C4C4C;}

.left-menu li.active {background: #29437f;}
.left-menu li.active a {
	background: #29437f;
	color: white;
}

.settings label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 1.1em;
	color: black;
	text-align:left;
}
			
.settings input, textarea, select {
	padding: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #7491D6;
	font-size: 1.1em;
	margin: 0;
}

.settings select{height:32px;}

.settings input:focus { border-color: #29437f; }

label.checkbox {display: inline;}

/* column container */
.colmask {
    position:relative;  /* This fixes the IE7 overflow hidden bug */
    clear:both;
    float:left;
    width:100%;         /* width of whole page */
    overflow:hidden;        /* This chops off any overhanging divs */
	z-index:1;
	background: #999;
	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	border-radius: 10px;
	font: 14px Verdana, Geneva, sans-serif;
}

/* column container */
.colmask-only {
    position:relative;  /* This fixes the IE7 overflow hidden bug */
    clear:both;
    float:left;
    width:100%;         /* width of whole page */
    overflow:hidden;        /* This chops off any overhanging divs */
	z-index:1;
	
}

/* common column settings */
.colright,
.colmid,
.colleft {
    float:left;
    width:100%;         /* width of page */
    position:relative;
}
.col1,
.col2,
.col3 {
    float:left;
    position:relative;
    padding:0 0 0 0;    /* no left and right padding on columns, we just make them narrower instead 
                    only padding top and bottom is included here, make it whatever value you need */
    overflow:hidden;
	border: 3px #000 dotted;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
}
/* 3 Column settings */
.threecol {

}
.threecol .colmid {
    right:33%;          /* width of the right column */

}
.threecol .colleft {
    right:34%;          /* width of the middle column */
	padding: 15px 0;

}
.threecol .col1 {
    width:28%;          /* width of center column content (column width minus padding on either side) */
    left:69%;          /* 100% plus left padding of center column */
    height:100px;
	padding: 10px;
}
.threecol .col2 {
    width:28%;          /* Width of left column content (column width minus padding on either side) */
    left:71%;           /* width of (right column) plus (center column left and right padding) plus (left column left padding) */
	height:100px;
	padding: 10px;
}
.threecol .col3 {
    width:28%;          /* Width of right column content (column width minus padding on either side) */
    left:73%;           /* Please make note of the brackets here:
                    (100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
	height:100px;
	padding: 10px;
}

/* Messages
--------------------------------- */
p.error,
p.alert,
p.info,
p.warning,
p.notice,
p.success {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background:url("../assets/messages_icons.gif") no-repeat scroll center bottom transparent;
  clear:both;
  font-size:12px;
  margin:20px auto;
  padding:15px 15px 15px 45px;
}
p.alert,
p.error {
  background-color:#FFEEEB;
  background-position:10px 11px;
  border:1px solid #CC0000;
  color:#B20000;
}

p.info {
  background-position: 11px -59px;
  background-color: #E5F5FA;
  border: 1px solid #0066CC;
  color: #0066CC;
}
p.warning {
  background-position: 12px -129px;
  background-color: #FFFFD9;
  border: 1px solid #DE8401;
  color: #E0882F;
}
p.notice,
p.success {
  background-position: 11px -199px;
  background-color: #EEF6E3;
  border: 1px solid #649225;
  color: #4B6D1B;
}