<h1>Make your payment using ePaymentPlans</h1>

<%= form_for @payment_plan do |form| %>
  <p>Select your Payment Plan:</p>
  <% @plans.each do |plan| %>
    <%= form.radio_button :plan_id, plan.id %>
    <%= form.label :plan_id, plan.id %>
  <% end %>
<% end %>

